accelerate>=0.16.0
torchvision
Jinja2
torchvision
transformers>=4.25.1
ftfy
tensorboard
modelcards
datasets
omegaconf
opencv-contrib-python
controlnet_aux
bitsandbytes
mediapipe
pytorch_lightning
tabulate
# diffusers==0.11.1
diffusers
#-e ./diffusers


